[submodule "vim/bundle/ctrlp.vim"]
  path = vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "vim/bundle/delimitMate"]
  path = vim/bundle/delimitMate
  url = https://github.com/Raimondi/delimitMate.git
  ignore = dirty
[submodule "vim/bundle/LaTeX-Box"]
  path = vim/bundle/LaTeX-Box
  url = https://github.com/vim-scripts/LaTeX-Box.git
  ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
  path = vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/bundle/restore_view.vim"]
  path = vim/bundle/restore_view.vim
  url = https://github.com/vim-scripts/restore_view.vim.git
  ignore = dirty
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "vim/bundle/taglist.vim"]
  path = vim/bundle/taglist.vim
  url = https://github.com/vim-scripts/taglist.vim.git
  ignore = dirty
[submodule "vim/bundle/UltiSnips"]
  path = vim/bundle/UltiSnips
  url = https://github.com/vim-scripts/UltiSnips.git
  ignore = dirty
[submodule "vim/bundle/vim-easytags"]
  path = vim/bundle/vim-easytags
  url = https://github.com/xolox/vim-easytags.git
  ignore = dirty
[submodule "vim/bundle/vim-fanfingtastic"]
  path = vim/bundle/vim-fanfingtastic
  url = https://github.com/dahu/vim-fanfingtastic.git
  ignore = dirty
[submodule "vim/bundle/vim-monokai"]
  path = vim/bundle/vim-monokai
  url = https://github.com/bsofdth/vim-monokai.git
  ignore = dirty
[submodule "vim/bundle/vim-op-highlight"]
  path = vim/bundle/vim-op-highlight
  url = https://github.com/bsofdth/vim-operator-highlight.git
  ignore = dirty
[submodule "vim/bundle/vim-sensible"]
  path = vim/bundle/vim-sensible
  url = https://github.com/tpope/vim-sensible.git
  ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
  path = vim/bundle/YouCompleteMe
  url = https://github.com/Valloric/YouCompleteMe.git
  ignore = dirty
[submodule "vim/pathogen"]
  path = vim/pathogen
  url = https://github.com/tpope/vim-pathogen.git
  ignore = dirty
[submodule "vim/bundle/vim-fuhttpsive"]
  path = vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/vim-surround"]
  path = vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
  ignore = dirty
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
  ignore = dirty
