[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = github:kien/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = github:Raimondi/delimitMate.git
	ignore = dirty
[submodule "vim/bundle/LaTeX-Box"]
	path = vim/bundle/LaTeX-Box
	url = github:vim-scripts/LaTeX-Box.git
	ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = github:scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = github:scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/restore_view.vim"]
	path = vim/bundle/restore_view.vim
	url = github:vim-scripts/restore_view.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-fanfingtastic"]
	path = vim/bundle/vim-fanfingtastic
	url = github:dahu/vim-fanfingtastic.git
	ignore = dirty
[submodule "vim/bundle/vim-monokai"]
	path = vim/bundle/vim-monokai
	url = github:bsofdth/vim-monokai.git
	ignore = dirty
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = github:tpope/vim-sensible.git
	ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = github:Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = github:tpope/vim-pathogen.git
	ignore = dirty
[submodule "vim/bundle/vim-fuhttpsive"]
	path = vim/bundle/vim-fugitive
	url = github:tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = github:tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = github:tpope/vim-rails.git
	ignore = dirty
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = github:tpope/vim-endwise.git
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = github:vim-airline/vim-airline.git
	ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = github:kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = github:mileszs/ack.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = github:tpope/vim-bundler.git
	ignore = dirty
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = github:tpope/vim-cucumber.git
	ignore = dirty
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = github:tpope/vim-rspec.git
	ignore = dirty
[submodule "vim/bundle/tabular.vim"]
	path = vim/bundle/tabular.vim
	url = github:godlygeek/tabular.git
	ignore = dirty
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = github:vim-airline/vim-airline-themes.git
	ignore = dirty
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = github:fatih/vim-go
	ignore = dirty
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = github:mustache/vim-mustache-handlebars.git
	ignore = dirty
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = github:sheerun/vim-polyglot.git
	ignore = dirty
[submodule "vim/bundle/gotests-vim"]
	path = vim/bundle/gotests-vim
	url = github:buoto/gotests-vim
	ignore = dirty
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = github:elzr/vim-json
[submodule "vim/bundle/vim-sayonara"]
	path = vim/bundle/vim-sayonara
	url = github:mhinz/vim-sayonara
	ignore = dirty
[submodule "vim/bundle/xterm-color-table.vim"]
	path = vim/bundle/xterm-color-table.vim
	url = github:guns/xterm-color-table.vim
	ignore = dirty
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = github:tpope/vim-unimpaired
	ignore = dirty
[submodule "vim/bundle/vim-colorful-go"]
	path = vim/bundle/vim-colorful-go
	url = github:ajswis/vim-colorful-go
	ignore = dirty
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = github:rust-lang/rust.vim.git
	ignore = dirty
[submodule "vim/bundle/gem-ctags"]
	path = vim/bundle/gem-ctags
	url = github:tpope/gem-ctags
	ignore = dirty
[submodule "vim/bundle/vim-cargo"]
	path = vim/bundle/vim-cargo
	url = github:timonv/vim-cargo
	ignore = dirty
[submodule "vim/bundle/vim-prettier"]
	path = vim/bundle/vim-prettier
	url = github:prettier/vim-prettier.git
	ignore = dirty
[submodule "vim/bundle/vim-csharp"]
	path = vim/bundle/vim-csharp
	url = github:OrangeT/vim-csharp.git
	ignore = dirty
[submodule "vim/bundle/omnisharp-vim"]
	path = vim/bundle/omnisharp-vim
	url = github:OmniSharp/omnisharp-vim.git
	ignore = dirty
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = github:SirVer/ultisnips
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = github:ervandew/supertab
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = github:tpope/vim-dispatch
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = github:tpope/vim-repeat
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = github:w0rp/ale
