snippet des "Describe (js)"
describe('${1:description}', () => {
  $0
});
endsnippet

snippet it "it (js)"
it('${1:description}', () => {
  $0
});
endsnippet

snippet xit "xit (js)"
xit('${1:description}')
endsnippet

snippet bef "before each (js)"
beforeEach(() => {
  $0
});
endsnippet

snippet aft "after each (js)"
afterEach(() => {
  $0
});
endsnippet

snippet befa "before all (js)"
beforeAll(() => {
  $0
});
endsnippet

snippet afta "after all (js)"
afterAll(() => {
  $0
});
endsnippet
