snippet des "Describe (js)"
	describe('${1:description}', () => {
		$0
	});

snippet it "it (js)"
	it('${1:description}', () => {
		$0
	});

snippet bef "before each (js)"
	beforeEach(() => {
		$0
	});

snippet aft "after each (js)"
	afterEach(() => {
		$0
	});

snippet befa "before all (js)"
	beforeAll(() => {
		$0
	});

snippet afta "after all (js)"
	afterAll(() => {
		$0
	});

